<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="edumongoosePU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.edumongoose.entity.StatisticsHistorical_1</class>
    <class>com.edumongoose.entity.StatisticsUseronline</class>
    <class>com.edumongoose.entity.Terms</class>
    <class>com.edumongoose.entity.AjaxsearchproPriorities</class>
    <class>com.edumongoose.entity.CategoryMaps</class>
    <class>com.edumongoose.entity.RsSettingsPresets</class>
    <class>com.edumongoose.entity.Commentmeta_1</class>
    <class>com.edumongoose.entity.ProQuizStatistic_1</class>
    <class>com.edumongoose.entity.StatisticsVisitor_1</class>
    <class>com.edumongoose.entity.StatisticsSearch_1</class>
    <class>com.edumongoose.entity.Termmeta</class>
    <class>com.edumongoose.entity.CrumPageSlider</class>
    <class>com.edumongoose.entity.PmproDiscountCodesUses</class>
    <class>com.edumongoose.entity.StatisticsVisit_1</class>
    <class>com.edumongoose.entity.ResponsiveThumbnailSlider</class>
    <class>com.edumongoose.entity.StatisticsExclusions</class>
    <class>com.edumongoose.entity.Posts</class>
    <class>com.edumongoose.entity.Usermeta</class>
    <class>com.edumongoose.entity.ExcludeEmailSubject</class>
    <class>com.edumongoose.entity.StatisticsVisitor</class>
    <class>com.edumongoose.entity.StatisticsUseronline_1</class>
    <class>com.edumongoose.entity.RevsliderSettings</class>
    <class>com.edumongoose.entity.SmTemps</class>
    <class>com.edumongoose.entity.QuizTemplate</class>
    <class>com.edumongoose.entity.ProQuizStatisticRef</class>
    <class>com.edumongoose.entity.PmproDiscountCodesLevels</class>
    <class>com.edumongoose.entity.Termmeta_1</class>
    <class>com.edumongoose.entity.Blogs</class>
    <class>com.edumongoose.entity.StatisticsSearch</class>
    <class>com.edumongoose.entity.TermRelationships_1</class>
    <class>com.edumongoose.entity.RsPhotos</class>
    <class>com.edumongoose.entity.ProQuizForm_1</class>
    <class>com.edumongoose.entity.ProQuizCategory</class>
    <class>com.edumongoose.entity.Sitemeta</class>
    <class>com.edumongoose.entity.ThumbnailSlider_1</class>
    <class>com.edumongoose.entity.CimyUefData</class>
    <class>com.edumongoose.entity.WpWpgmza</class>
    <class>com.edumongoose.entity.SmStatsMessageid</class>
    <class>com.edumongoose.entity.Ajaxsearchpro</class>
    <class>com.edumongoose.entity.RsSorting</class>
    <class>com.edumongoose.entity.Polygon</class>
    <class>com.edumongoose.entity.Users</class>
    <class>com.edumongoose.entity.ThumbnailSlider</class>
    <class>com.edumongoose.entity.RsPhotosPos</class>
    <class>com.edumongoose.entity.RevsliderCss</class>
    <class>com.edumongoose.entity.ProQuizForm</class>
    <class>com.edumongoose.entity.SmBouncesHard</class>
    <class>com.edumongoose.entity.Categories</class>
    <class>com.edumongoose.entity.RsTags</class>
    <class>com.edumongoose.entity.SmStatsSmtp</class>
    <class>com.edumongoose.entity.Postmeta_1</class>
    <class>com.edumongoose.entity.Options</class>
    <class>com.edumongoose.entity.ProQuizCategory_1</class>
    <class>com.edumongoose.entity.StatisticsVisit</class>
    <class>com.edumongoose.entity.ProQuizPrerequisite</class>
    <class>com.edumongoose.entity.SmSuite</class>
    <class>com.edumongoose.entity.SmBouncesLog</class>
    <class>com.edumongoose.entity.RsVideos</class>
    <class>com.edumongoose.entity.PmproDiscountCodes</class>
    <class>com.edumongoose.entity.Site</class>
    <class>com.edumongoose.entity.PmproMembershipOrders</class>
    <class>com.edumongoose.entity.SmListe</class>
    <class>com.edumongoose.entity.SmLog</class>
    <class>com.edumongoose.entity.RevsliderSliders</class>
    <class>com.edumongoose.entity.ProQuizTemplate</class>
    <class>com.edumongoose.entity.SmSpamscore</class>
    <class>com.edumongoose.entity.TermTaxonomy</class>
    <class>com.edumongoose.entity.ProQuizStatistic</class>
    <class>com.edumongoose.entity.AjaxsearchproStatistics</class>
    <class>com.edumongoose.entity.RsStats</class>
    <class>com.edumongoose.entity.TermTaxonomy_1</class>
    <class>com.edumongoose.entity.RsExclude</class>
    <class>com.edumongoose.entity.WordpressUser</class>
    <class>com.edumongoose.entity.ProQuizPrerequisite_1</class>
    <class>com.edumongoose.entity.TermRelationships</class>
    <class>com.edumongoose.entity.StatisticsHistorical</class>
    <class>com.edumongoose.entity.Terms_1</class>
    <class>com.edumongoose.entity.ProQuizQuestion_1</class>
    <class>com.edumongoose.entity.RsSliders</class>
    <class>com.edumongoose.entity.SmBlacklist</class>
    <class>com.edumongoose.entity.Layerslider</class>
    <class>com.edumongoose.entity.Layerslider_1</class>
    <class>com.edumongoose.entity.Links</class>
    <class>com.edumongoose.entity.RevsliderSlides</class>
    <class>com.edumongoose.entity.RsFolders</class>
    <class>com.edumongoose.entity.CrumPageSlider_1</class>
    <class>com.edumongoose.entity.RevsliderStaticSlides</class>
    <class>com.edumongoose.entity.SmListeTest</class>
    <class>com.edumongoose.entity.Options_1</class>
    <class>com.edumongoose.entity.RegistrationLog</class>
    <class>com.edumongoose.entity.Links_1</class>
    <class>com.edumongoose.entity.RsSettingsSets</class>
    <class>com.edumongoose.entity.CimyUefFields</class>
    <class>com.edumongoose.entity.ProQuizMaster_1</class>
    <class>com.edumongoose.entity.ProQuizLock</class>
    <class>com.edumongoose.entity.ProQuizToplist_1</class>
    <class>com.edumongoose.entity.ProQuizStatisticRef_1</class>
    <class>com.edumongoose.entity.PmproMembershipsUsers</class>
    <class>com.edumongoose.entity.Posts_1</class>
    <class>com.edumongoose.entity.Polylines</class>
    <class>com.edumongoose.entity.ProQuizQuestion</class>
    <class>com.edumongoose.entity.TopbarData</class>
    <class>com.edumongoose.entity.ProQuizMaster</class>
    <class>com.edumongoose.entity.Comments</class>
    <class>com.edumongoose.entity.PmproMembershipLevels</class>
    <class>com.edumongoose.entity.Commentmeta</class>
    <class>com.edumongoose.entity.RevsliderLayerAnimations</class>
    <class>com.edumongoose.entity.StatisticsExclusions_1</class>
    <class>com.edumongoose.entity.CimyUefWpFields</class>
    <class>com.edumongoose.entity.ProQuizLock_1</class>
    <class>com.edumongoose.entity.Postmeta</class>
    <class>com.edumongoose.entity.Signups</class>
    <class>com.edumongoose.entity.SmHistoriqueEnvoi</class>
    <class>com.edumongoose.entity.ProQuizToplist</class>
    <class>com.edumongoose.entity.BlogVersions</class>
    <class>com.edumongoose.entity.Maps</class>
    <class>com.edumongoose.entity.CommerceAttributeTaxonomies</class>
    <class>com.edumongoose.entity.CommerceDownloadableProductPermissions</class>
    <class>com.edumongoose.entity.CommerceOrderItemmeta</class>
    <class>com.edumongoose.entity.CommerceOrderItems</class>
    <class>com.edumongoose.entity.CommerceTaxRateLocations</class>
    <class>com.edumongoose.entity.CommerceTaxRates</class>
    <class>com.edumongoose.entity.CommerceTermmeta</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/edumongoose?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.password" value=""/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
    </properties>
  </persistence-unit>
</persistence>
